h1 {
    color: #FFC400;
}

h2 {
    color: #FFC400;
}

header {
    background-color: #C60B1E;
    text-align: center;
}

nav {
    display: none;
}

.menu-button {
    position: absolute;
    right: 20px;
    cursor: pointer;
}


/*carousel stuff*/
.carousel {
    display: flex;
    flex-wrap: nowrap;
    position: relative; 
}

.celement {
    width: 600px;
}